.title{
    background-color: rgb(200, 249, 255);
    border-left: 10px solid rgb(0, 225, 255);
    box-sizing: border-box;
}

article p + p{
    margin-top: 30px;
}
li{
    color:red;
}
div,time{
    background-color:rgb(252, 204, 116);
}
